@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Pacifico&family=Poppins:wght@300;400&display=swap");
:root {
    --background-color: #000000;
    --text-color: #4fcf2b;
    --section-padding: 6rem 0;
    --item-border-radius: 0.7rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "poppins", sans-serif;
    background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--text-color);
}

p {
    font-size: 1rem;
    /* 16 px */
    line-height: 1.9rem;
    /*30.4 px */
}

p,
span,
label,
input,
textarea,
li {
    color: var(--text-color);
}

a {
    text-decoration: none;
}


/* end Preparation */

.main-container {
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 90%;
    }
}


/* buttons */

.btn {
    padding: 1rem 1.5rem;
    background: var(--text-color);
    border: 1px solid var(--text-color);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-family: "poppins", sans-serif;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    color: var(--text-color);
    background-color: var(--background-color);
}


/* titles */

.section-title {
    margin: 1rem 0 4rem;
    font-size: 2rem;
}

.pre-title {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--text-color);
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 0.9rem;
}

.pre-title::before {
    content: "";
    width: 30px;
    height: 1px;
    background: var(--text-color);
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}


/* layouts */

.grid-3 {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; use this first, use code below when its time for explaining responsive design part */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}


/* --- logo and Navigation Menu --- */

.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}


/* logo */

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}

.logo a {
    color: var(--text-color);
}


/* navigation Menu */

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    color: var(--text-color);
}


/* nav li a .btn {
  font-family: "poppins", sans-serif;
  border: 1px solid;
  border-radius: 24px;
}

nav li a .btn:hover {
  background-color: var(--primaryIconColorHover);
  border-radius: 20px;
  color: var(--primaryBackgroundColor);
} */


/* Burger  */

.burger div {
    width: 25px;
    height: 2px;
    background-color: var(--text-color);
    margin: 7px;
    transition: all 0.3s;
    z-index: 99;
}

.burger {
    display: none;
    z-index: 99;
    position: fixed;
    top: 33px;
    right: 35px;
}


/* hero Section */

#hero {
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* We're not going to use automatic template columns, because we need to know when the columns is go below. So we can exchange the order of the element */
    align-items: center;
}

.hero-name {
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem 0 1rem;
}

.hero-name span {
    color: var(--text-color) !important;
}

.hero-right img {
    width: 400px;
    height: 400px;
    background-position: center;
    /* opacity: 1; */
    background-size: cover;
    border-radius: 50%;
    border: 5px solid var(--text-color);
}

.hero-right {
    display: flex;
    justify-content: center;
}

.hero-left h3 {
    color: var(--text-color);
}


/* services Section */

#services {
    background-color: var(--background-color);
    padding: var(--sectionPadding);
}

.services .pre-title {
    margin: 0 auto;
    color: var(--text-color);
}

.services-title {
    text-align: center;
}

.service {
    padding: 3rem 2rem;
    text-align: center;
    background: var(--text-color);
    border-radius: var(--item-border-radius);
}

.service h4 {
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.05rem;
    color: var(--background-color);
}

.service p {
    color: var(--background-color);
}

.service-icon {
    background: var(--text-color);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;
}

.service-icon svg {
    fill: var(--text-color);
}

.service-icon {
    background: var(--background-color);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;
}

.service-icon svg {
    fill: var(--text-color);
}


/* exp */

#Experience {
    padding: var(--sectionPadding);
}

.exp {
    border-radius: var(--item-border-radius);
    overflow: hidden;
    /* supaya gambar yang diatas itu dia ngikut border radiusnya, karena yang dikasih border radius disini adalah div portfolio ini */
    /* border: 5px solid var(--text-colorr); */
}

.exp p {
    color: var(--background-color);
}

.exp-cover {
    height: 250px;
    border: 4px solid var(--text-color);
}

.exp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.exp-info {
    padding: 2rem 1.5rem;
    border: 4px solid var(--background-color);
    background-color: var(--text-color);
    border-radius: var(--item-border-radius);
}

.exp-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.pre-title {
    color: var(--text-color);
}

.exp h4 {
    font-weight: 500;
    font-size: 1.05rem;
    color: var(--background-color);
}

.exp-title a svg:hover {
    color: var(--text-color);
}

.exp-title a svg {
    transition: 0.2s ease-in-out;
}

.exp-tags {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.exp-tags div {
    font-size: 0.9rem;
    border: 1px solid var(--background-color);
    padding: 0.4rem 1rem;
    color: var(--background-color);
}


/* .exp-tags div {
    font-size: 0.9rem;
    border: 1px solid var(--text-color);
    padding: 0.4rem 1rem;
    color: var(--text-color);
} */


/* end exp */


/* skills and education */

#skills {
    padding: var(--sectionPadding);
    background: var(--secondaryBackgroundColor);
}

.skills-grid {
    display: grid;
    /* grid-template-columns: 40% 60%; */
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.education {
    display: flex;
    gap: 1rem;
}

.education .line {
    padding: 0 0.7rem;
}

.education .line div {
    width: 2px;
    height: 100%;
    background: var(--borderColor);
    position: relative;
}

.education-info p {
    margin: 0.6rem 0 1.4rem;
}

.education-years {
    margin-bottom: 3rem;
}


/* the dot on the line */

.education .line div:before {
    content: "";
    width: 15px;
    height: 15px;
    background: var(--borderColor);
    border-radius: 50%;
    position: absolute;
    left: -6px;
}


/* right side of Skills */

.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5rem;
}

.skills-right ul {
    line-height: 2rem;
    padding: 0 1rem;
}


/* contact Section */

#contact {
    padding: var(--sectionPadding);
}

.contact {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.contact-form div {
    margin-bottom: 1.4rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.75rem 1.3rem;
    font-family: "poppins", sans-serif;
    background: var(--background-color);
    border: 1px solid var(--text-color);
    border-radius: 3px;
    resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: var(--text-color);
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border: 1px solid var(--text-color);
}

.btn-submit {
    width: 100%;
    padding: 0.75rem 1.3rem;
    background-color: var(--text-color);
    color: var(--background-color);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn-submit:hover {
    background-color: var(--background-color);
    color: var(--text-color);
}


/* contact Section - Right Side */

.contact-item {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}

.contact-item-icon {
    background: var(--text-color);
    /* padding: 0.8rem 1rem; */
    width: 53px;
    height: 53px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-item-icon svg {
    fill: var(--primaryIconColor);
}

.contact-item-detail h4 {
    margin-bottom: 0.6rem;
}


/* footer Section */

footer {
    padding: 4rem 0;
    background: var(--secondaryBackgroundColor);
    text-align: center;
}

.footer-icons {
    margin-bottom: 1rem;
}

.footer-icons a {
    margin: 0 0.5rem;
}

.footer-icons svg {
    fill: var(--text-color);
}

.footer-icons a:hover svg {
    fill: var(--text-color);
}